<div class="page-content">
  <div class="page-fullsize">
    <div class="vertical-align text-center">
      <h1 class="title">Experiences</h1>
    </div>
    <div class="text-center bottom-page">
      <i class="fa fa-angle-down fa-5x arrow-down" aria-hidden="true"></i>
    </div>
  </div>
  <div id="internships">
    <section id="business-geografic-section" class="internship">
      <div class="section-header">
        <h1><a href="https://business-geografic.com">Business geografic</a></h1>
        <h6>Sep 2014 - Dec 2014</h6>
      </div>
      <div class="section-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam neque labore dignissimos hic incidunt impedit repellat ducimus voluptatem ipsum, eius eum nesciunt repudiandae perferendis iusto veniam ratione pariatur adipisci dicta!
        Technologies:
        <ul>
          <li>HTML / CSS / JavaScript</li>
          <li>Java / Play Framework</li>
        </ul>
      </div>
    </section>
    <section id="bealder-section" class="internship">
      <div class="section-header">
        <h1><a href="http://bealder.com">Bealder</a></h1>
        <h6>Oct 2015 - Feb 2015</h6>
      </div>
      <div class="section-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. In nesciunt qui perferendis molestias consequuntur cum suscipit eligendi quam eos sint dicta, impedit sequi voluptatum dolore ipsa nam nostrum sit odio.
        Technologies:
        <ul>
          <li>HTML / CSS / JavaScript</li>
          <li>AngularJS</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </section>
    <section id="asterisque-digital-section" class="internship">
      <div class="section-header">
        <h1><a href="http://asterisque.digital/">Asterisque Digital</a></h1>
        <h6>Apr 2016 - Aug 2016</h6>
      </div>
      <div class="section-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea blanditiis quasi voluptatum nam sunt dolorem nulla reiciendis, est repudiandae et mollitia consequatur ex incidunt quod laudantium sint? Quos, iste, excepturi!
        Technologies:
        <ul>
          <li>HTML / CSS / JavaScript</li>
          <li>PHP / Yii Framework</li>
          <li>NodeJS</li>
          <li>PostGreSQL</li>
        </ul>
      </div>
    </section>
  </div>
