<div class="page-content">
  <div class="page-fullsize">
    <div class="vertical-align text-center">
      <h1 class="title">Experiences</h1>
    </div>
    <div class="text-center bottom-page">
      <i class="fa fa-angle-down fa-5x arrow-down" aria-hidden="true"></i>
    </div>
  </div>
  <div class="page-fullsize" id="stages">
    <ul class="vertical-align card-list unflex">
      <li class="card">
        <div class="card-header">
          <h1 class="card-title">Asterisque Digital</h1>
          <h5 class="card-subtitle">As frontend developper</h5>
          <h5 class="card-title-date">April 2016 - August 2016</h5>
        </div>
        <div class="card-body">
          <p class="mission">
            I was in charged of front development. I added some features like OAUTH connection with Google and Facebook.
            I worked on retrieve data from different APIs like YouTube API, Twitter API, Instragram, etc.
          </p>
          <div class="technologies">
            <h4>Technologies</h4>
            <ul>
              <li>HTML / CSS / JavaScript</li>
              <li>PHP / Yii Framework</li>
              <li>NodeJS</li>
              <li>PostGreSQL</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card-header">
          <h1 class="card-title">Bealder</h1>
          <h5 class="card-subtitle">As frontend developper</h5>
          <h5 class="card-title-date">October 2015 - February 2016</h5>
        </div>
        <div class="card-body">
          <p class="mission">
            I was in charged of front development. I worked on the technology Beacon, a Geolocalized object.
            The mission was maintain and add features on the web application.
          </p>
          <div class="technologies">
            <h4>Technologies</h4>
            <ul>
              <li>HTML / CSS / JavaScript</li>
              <li>AngularJS</li>
              <li>NodeJS</li>
            </ul>
          </div>
        </div>
      </li>
      <li class="card">
        <div class="card-header">
          <h1 class="card-title">Business Geografic</h1>
          <h5 class="card-subtitle">As frontend developper</h5>
          <h5 class="card-title-date">October 2015 - February 2016</h5>
        </div>
        <div class="card-body">
          <p class="mission">
            I developped a map using Google Protocol buffer to get geographic information and render on canvas.
          </p>
          <div class="technologies">
            <h4>Technologies</h4>
            <ul>
              <li>HTML / CSS / JavaScript</li>
              <li>Java / Play Framework</li>
            </ul>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
