<div class="menu-container">
  <a class="icon-hamburger">
    <span class="slice"></span>
    <span class="slice"></span>
    <span class="slice"></span>
  </a>
  <ul>
    <li>
      <a href="/">Home</a>
      <span class="underliner"></span>
    </li>
    <li>
      <a href="/experiences">Experiences</a>
      <span class="underliner"></span>
    </li>
    <li>
      <a href="/aboutme">About me</a>
      <span class="underliner"></span>
    </li>
    <li>
      <a href="/contactme">Contact me</a>
      <span class="underliner"></span>
    </li>
  </ul>
</div>