body { padding: 0; margin: 0; color: black;font-family: 'Roboto', sans-serif; }
footer { background-color: black; color: white; padding: 50px; font-weight: bold }
nav { width: 100%; position: fixed; background-color: white; top: 0; left: 0; right: 0;z-index: 999; }
::-webkit-scrollbar {
  display: none;
}

h1.title {
  text-align: center;
  font-size: xx-large;
}

nav ul {
  list-style: none;
  padding: 0;
}
nav ul li {
  display: inline-block;
  padding: 10px;
}
nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: orange;
  padding: 30px;
}
nav ul li .underline {
  width: 0%;
  height: 2px;
  background: orange;
  margin-top: 10px;
  transition: width ease-in-out 250ms;
}
nav ul li .underline.active {
  width: 100%;
}

nav > ul > li:hover > .underline { width: 100%; }

section {
    min-height: 100vh;
    padding-bottom: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.aboutsection {
  padding-bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.profile-picture {
  background-image: url(../../assets/images/profile_picture.png);
  background-position: center;
  background-size: cover;
  padding-top: 100%;
}

.card-wrapper {
}

.card {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 7px 12px -3px rgba(0,0,0,0.5);
  background-color: white;
  display: block;
  transition: all 500ms ease-in-out;
}

.card.shifted {
  transition: all 500ms ease-in-out;
  margin-top: -10%;
  margin-left: 25%;
  box-shadow: 0px 14px 14px -7px rgba(0,0,0,0.5);
}

@keyframes fade-up-animation {
  from {
    opacity: 0;
    margin-top: 100px;
  }

  to {
    opacity: 1;
    margin-top: 0px;
  }
}
.fade-up {
  opacity: 0;
  animation-name: fade-up-animation;
  animation-fill-mode: forwards;
  animation-duration: 1000ms;
}

form {
  margin: 10px;
  display: none;
}

.description {
  padding: 50px;
  font-size: 1.5em;
}

.form-group {
  width: 100%;
  box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.3);
  margin-bottom: 10px;
}

.form-group * {
  padding: 10px;
  width: 100%;
  resize: none;
  border: none;
}

.button-send-form {
  width: 100%;
  height: 50px;
  background-color: orange;
  text-transform: uppercase;
  border: 0;
  color: white;
  box-shadow: 0px 14px 14px -7px rgba(0,0,0,0.5);
}

.form-message {
  opacity: 0;
}

/* EXPERIENCES */
.experiencessection ul.list-experiences {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0;
  list-style: none;
}

.experiencessection ul.list-experiences > li {
  height: 400px;
  width: 400px;
  display: flex;
  box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
  margin: 0px 10px;
  position: relative;
}

.experiencessection ul.list-experiences > li .job-banner {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 250ms ease-in-out;
}
.experiencessection ul.list-experiences > li .job-banner img {
  width: inherit;
}
.experiencessection ul.list-experiences > li .job-banner.asterisque-digital img {
  width: 80%;
}

.experiencessection ul.list-experiences > li:hover > .job-banner {
  transform: scale(0);
}

.job-description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  background-color: white;
}

footer .links {
  /*display: block;*/
  color: white;
  text-decoration: none;
}

.copyright {
  margin-bottom: 0;
}

.terminal-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.terminal {
  width: 80%;
  background-color: black;
  color: white;
  display: block;
  padding: 20px;
  box-shadow: 0px 14px 14px -7px rgba(0,0,0,0.5);
}

ul.terminal-lines, .terminal-line ul {
  list-style: none;
}
@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
span.cursor {
  background-color: white;
  height: 1px;
  width: 10px;
  display: inline-block;
  animation: blinking ease-in-out infinite 750ms;
}

a.button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2em;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  opacity: 0;
  transition: opacity ease-in-out 100ms;
  cursor: pointer;
}

a.button:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}

.sfr img {
  padding: 20%;
  box-sizing: border-box;
}

.sfr .subtitle {
  position: absolute;
  bottom: 10%;
}

@media screen and (max-width: 1220px) {
  .experiencessection ul.list-experiences {
    flex-direction: column;
    align-items: center;
  }

  .experiencessection ul.list-experiences > li {
    margin-bottom: 20px;
    width: 80%;
  }

  .experiencessection ul.list-experiences > li .job-banner {
    width: 100%;
  }
}

@media screen and (max-width: 755px) {
  .card-wrapper {
    margin: 0px 5%;
    transform: translateX(0%);
  }
  .card {
    max-width: 100%;
  }
  .card.shifted {
    margin-left: 0%;
    font-size: 1em;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.3);
  }
}

@media screen and (max-width: 500px) {
  nav ul { display: flex; justify-content: space-around; }
  .description {
    font-size: 1em;
  }
}
